@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #33658A;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}
.main-wrapper{
    position: relative;
}
.question-wrapper{
    background: #86BBD8;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 15px;
}
.btns-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 30px;
}
.btns-wrapper button{
    color: #fff;
    background: #F6AE2D;
    border-radius: 8px;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 18px;
    max-width: 100px;
    width: 100%;
}
.btns-wrapper{
    padding: 0 15px;
}
.main-question h1{
    font-size: 24px;
}
.main-question h3{
    margin-top: 15px;
    text-align: center;
}
.final-btn button{
    color: #fff;
    background: #F26419;
    border-radius: 8px;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 20px;
}
.result-wrapper{
    background: #86BBD8;
    border-radius: 15px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 300px;
    max-width: 300px;
    width: 100%;
    height: 100%;
    padding: 15px;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
.result-wrapper button{
    color: #fff;
    background: #F6AE2D;
    border-radius: 8px;
    outline: 0;
    border: 0;
    padding: 10px 20px;
    margin-bottom: 15px;
    font-size: 18px;
    max-width: 115px;
    width: 100%;
}
.result-wrapper p{
    font-size: 19px;
}
.item-tab{

}